.bodyContainer
{
	margin: 0px;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

a
{
	color: #0055d4;
}

h1
{
	margin-top: 0px;
	font-size: 1.2em;
	font-weight: normal;
}

h2
{
	margin-top: 0px;
	font-size: 1.1em;
}

h3
{
	margin-top: 1px;
	font-size: 1em;
	font-weight: normal;
}

#header
{
	display: inline-block;
	width: 100%;
	background-color: white;
	border-top-style: solid;
	border-top-color: #ffcc00;
	border-top-width: 6px;
}

.logo
{
	float: left;
	padding-left: 7px;
	padding-top: 7px;
	width: 203px;
}

#nav
{
	float: right;
	margin-left: 14px;
	margin-right: 7px;
	margin-top: 7px;
}

#nav ul {
	
	font-size: .9em;
	padding: 0;
	list-style-type: none;
}

#nav li
{
	list-style: none;
	padding-right: 7px;
	padding-top: 7px;
	display: inline;
}

#nav a
{
	padding: 3px;
	text-decoration: none;
}

#nav a:hover
{
	background-color: #214478;
	color: white;
	padding: 3px;
}

.currentPage 
{
	padding: 3px;
	background-color: #214478;
	color: white;
}

@media screen and (min-width: 480px)
{
	#section1container
	{
		display: block;
		height: 280px;
		background-color: white;
		background: url(../img/swissalps.jpg) no-repeat center center;
		-webkit-background-size: cover; /* For WebKit*/
		-moz-background-size: cover;    /* Mozilla*/
		-o-background-size: cover;      /* Opera*/
		background-size: cover;         /* Generic*/
	}
	
	.transparentBox
	{
		display: block;
		position: relative;
		top: 14px;
		left: 14px;
		width: 340px;
		height: 252px;
		border-radius: 5px;
		background-color: black;
		opacity: 0.6;
		-moz-opacity: 0.6;
		-khtml-opacity: 0.6;
		filter: alpha(opacity=60);
		z-index: 0;
	}
	
	#section1
	{
		display: block;
		position: absolute;
		top: 85px;
		left: 28px;
		width: 312px;
		z-index: 1;
		font-size: .8em;
		color: white;
	}
	
	#section1 h1
	{
		margin-bottom: 0px;
	}
	
	#section1 p
	{
		text-align: justify;
		text-justify: inter-word;
		margin-bottom: 0px;
	}
}

@media screen and (max-width: 479px)
{
	#section1container{
		border-top-style: solid;
		border-top-color: #eeeeee;
		border-top-width: 1px;
	}
	
	#section1
	{
		font-size: .8em;
		margin-top: 14px;
		padding: 0px 17px 0px 17px;
		color: #333333;
	}
	
	#section1 h1
	{
		text-align: left;
		display: inline-block;
		font-weight: bold;
		margin-bottom: 0px;
	}
	
	#nav
	{
		float: left;
		margin-left: 17px;
		margin-top: 7px;
	}
		
	.plane
	{
		display: none;
	}
}

#section2container
{
	text-align: left;
	background-color: white;
	width: 100%;
	background-color: #eeeeee;
}

#section2
{
	margin-top: 14px;
	padding: 0px 17px 28px 17px;
	font-size: .8em;
	color: #333333;
	display: inline-block;
}

td
{
	vertical-align: top;
	padding-bottom: 21px;
}

@media screen and (min-width: 480px)
{
	.pictureContainer
	{
		width: 300px;
		padding-left: 14px;
	}

	.picture
	{
		width: 100%;
	}

	.picture img
	{
		width: 98%;
		border-style: solid;
		border-width: 3px;
		border-color: white;	
	}

	.package
	{
		padding-left: 14px;
	}

	.cost
	{
		padding-left: 14px;
	}
}

@media screen and (max-width: 479px)
{
	.pictureContainer
	{
		display: none;
	}

	.picture
	{
		display: none;
		
	}

	.picture img
	{
		display: none;
	}

	.package
	{
		padding-left: 7px;
	}

	.cost
	{
		padding-left: 7px;
	}
}

.package h2
{
	margin-bottom: 3px;
	font-weight: normal;
	color: #0055d4;
}

.cost h1
{
	margin-bottom: 0px;
	color: black;
}

.contact
{
	font-size: 1em;
	font-weight: bold;
}

#footer
{
	text-align: center;
	font-size: .7em;
	margin-top: 21px;
	padding-bottom: 21px;
}